@font-face {
  font-family: 'game-cube';
  src: url('./assets/kumbhsans-variablefont_wght-webfont.woff2') format('woff2'),
    url('./assets/kumbhsans-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* min-height: 100vh; */
}

:root {
  --cube-size: min(15vw, 75px);
  --gap-size: calc(var(--cube-size) * 0.4);
  --box-size: calc((var(--gap-size) * 3) + (var(--cube-size) * 4));
  --margin: calc(var(--cube-size) / 2);
}

body {
  color: white;
  font-family: 'game-cube', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: black;
  background-size: 40px 40px;
  background-image: linear-gradient(
      to right,
      rgba(128, 128, 128, 1) 3px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(128, 128, 128, 1) 3px, transparent 1px);
}

#root {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(rgba(0, 0, 0, 0.315), rgb(0, 0, 0) 85%);
}

.score {
  color: #fbfbfb;
  margin-bottom: calc(var(--cube-size) * -0.2);
  line-height: 0.9;
  padding: 0;
  width: var(--box-size);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.score--count {
  width: var(--cube-size);
  font-size: 4rem;
  font-weight: 900;
}

.score--text {
  font-size: 1.5rem;
  font-weight: 900;
  margin-right: -2rem;
}

.hi-score {
  font-weight: 900;
  padding: 3px 8px;
  font-size: 2rem;
  border: 2px solid #fbfbfb;
}

.saves-container {
  padding: var(--margin);
  width: min-content;
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
  gap: var(--gap-size);
}
.container {
  width: var(--cube-size);
  height: var(--cube-size);
  perspective: 1000px;
  transition: 0.5s;
}

.cube {
  transition: 0.5s;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  position: relative;
}

.face {
  border: 1px solid #204af4;
  box-shadow: 1px 1px 10px 1px #204af4;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(230deg, #204af4cc, #00000080 40%),
    linear-gradient(127deg, #204af400, #204af400 20%),
    linear-gradient(40deg, #204af4, #204af407 50%);
  transition: 0.3;
}

.face-side {
  height: 50%;
}

.face-shoulder {
  width: 50%;
}

.top {
  transform: rotateX(90deg) translateZ(calc(var(--cube-size) * 0.25));
}
.bottom {
  transform: rotateX(-90deg) translateZ(calc(var(--cube-size) * 0.75));
}

.right {
  transform: rotateY(90deg) translateZ(calc(var(--cube-size) * 0.75));
}
.left {
  transform: rotateY(-90deg) translateZ(calc(var(--cube-size) * 0.25));
}

.front {
  transform: rotateX(0deg) translateZ(calc(var(--cube-size) * 0.25));
}
.back {
  transform: rotateX(-180deg) translateZ(calc(var(--cube-size) * 0.25));
}

@keyframes spin {
  from {
    transform: rotateX(-7deg) rotateY(10deg);
  }
  to {
    transform: rotateX(-7deg) rotateY(370deg);
  }
}

@keyframes eight {
  0% {
    translate: 0 0;
  }

  12.5% {
    translate: 0 calc(var(--cube-size) * -0.06);
  }
  25% {
    translate: 0 calc(var(--cube-size) * -0.08);
  }
  37.5% {
    translate: 0 calc(var(--cube-size) * -0.06);
  }
  50% {
    translate: 0 0;
  }

  62.5% {
    translate: 0 calc(var(--cube-size) * 0.06);
  }

  75% {
    translate: 0 calc(var(--cube-size) * 0.08);
  }

  87.5% {
    translate: 0 calc(var(--cube-size) * 0.06);
  }

  100% {
    translate: 0 0;
  }
}

@keyframes eightTwo {
  0% {
    translate: 0 0;
    transform: rotateX(-7deg) rotateY(10deg) rotate(0deg);
  }

  23% {
    /* transform: rotateX(-10deg) rotateY(15deg) rotate(-0.5deg); */
    translate: calc(var(--cube-size) * -0.08) 0;
  }

  27% {
    rotate: -5deg;
    /* transform: rotateX(-10deg) rotateY(15deg) rotate(-1deg); */
    translate: calc(var(--cube-size) * -0.08) 0;
  }

  50% {
    /* rotate(3deg) */
    transform: rotateX(10deg) rotateY(-3deg);

    translate: 0 0;
  }

  73% {
    /* transform: rotateX(-5deg) rotateY(-3deg) rotate(3deg); */
    translate: calc(var(--cube-size) * 0.08) 0;
  }

  77% {
    rotate: 5deg;
    /* transform: rotateX(5deg) rotateY(-3deg) rotate(3deg); */
    translate: calc(var(--cube-size) * 0.08) 0;
  }

  100% {
    translate: 0 0;
    transform: rotateX(-7deg) rotateY(10deg) rotate(0deg);
  }
}
.cube {
  transform: rotateX(-7deg) rotateY(10deg);
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  position: relative;
  animation-duration: 6s;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/* Y */
.container {
  animation-duration: 3s;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.container:has(.animate-hover):hover {
  z-index: 2;
  animation-name: eight;
  scale: 1.2;
}

.container:hover .cube.animate-hover {
  animation-name: eightTwo;
  scale: 1.2;
}

.container:hover .face {
  border: 1px solid #3d9fc6;
  box-shadow: 1px 1px 10px 1px #3d9fc6;
  background: linear-gradient(230deg, #3d9fc6cc, #00000000 40%),
    linear-gradient(127deg, #3d9fc600, #3d9fc600 20%),
    linear-gradient(40deg, #3d9fc6, #3d9fc607 50%);
}

.container:has(.animate-hover):active,
.cube.animate-hover:active {
  scale: 1;
}

.face.front {
  display: flex;
  align-items: center;
  justify-content: center;
}
.face img {
  max-height: 90%;
  max-width: 90%;
}

.test {
  margin: 100px;
  font-size: 100px;
  color: white;
}

.instructions {
  font-weight: 600;
  letter-spacing: 0.1em;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  color: white;
  background: linear-gradient(rgba(3, 1, 143, 0.895), rgba(54, 0, 93, 0.867));
  height: 100px;
  border: 2px solid lightgray;
  width: min(500px, 95vw);
}

.instructions p {
  margin: 0;
}

.false-nav {
  width: min(600px, 95vw);
  margin-top: 16px;
  height: 1.5rem;
  display: flex;
  justify-content: space-around;
}

.false-nav--item {
  display: flex;
  gap: 0.5rem;
  height: 100%;
  align-items: flex-end;
  font-size: 1.2rem;
  position: relative;
}
.joy-stick {
  height: 100%;
  opacity: 0.6;
}

.dots {
  margin-left: 0.3rem;
  display: flex;
  gap: 0.3rem;
  align-self: flex-start;
  padding-top: 0.6rem;
}
.dot {
  display: inline-block;
  height: 0.25rem;
  width: 0.25rem;
  border-radius: 50%;
  background-color: lightgray;
}

.false-nav--text {
  padding: 0;
  line-height: 100%;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.false-nav--button {
  height: 100%;
  font-size: 1.8rem;
  font-family: 'Oswald';
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.false-nav--button:before {
  z-index: 0;
  content: '';
  height: 3rem;
  width: 3rem;
  position: absolute;
  border-radius: 50%;
}

.false-nav--button.A:before {
  background: radial-gradient(green, rgba(0, 128, 0, 0) 70%);
}

.false-nav--button.B:before {
  background: radial-gradient(rgba(198, 3, 3, 0.766), rgba(0, 128, 0, 0) 70%);
}

.button-letter {
  z-index: 1;
}

.spin {
  animation: spin;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
}

.gray-screen {
  background-color: rgba(0, 0, 0, 0.697);
  z-index: 3;
  position: absolute;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
}

.loss-container {
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.resetti {
  width: calc(var(--box-size) * 0.75);
  margin-bottom: calc(var(--box-size) * -0.15);
  overflow: hidden;
}

@keyframes emerge {
  from {
    translate: 0 200px;
  }
  to {
    translate: 0;
  }
}

.resetti img {
  animation-name: emerge;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  width: 100%;
}

.resetti--dialogue-box {
  animation-name: inflate;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  color: black;
  position: relative;
  width: var(--box-size);
  font-family: 'M PLUS Rounded 1c';
}

.resetti--dialogue-box img {
  width: 100%;
}

.resetti--name {
  background-color: #b3f60c;
  position: absolute;
  padding: 8px 35px;
  border-radius: 35% / 45%;
  font-size: 1.2rem;
  left: calc(var(--box-size) * 0.05);
  top: calc(var(--box-size) * -0.03);
}

@keyframes reveal {
  from {
    width: 0;
  }
  to {
    width: 200px;
  }
}

.resetti--text {
  /* width: 0; */
  overflow: hidden;
  animation-name:reveal;
  animation-delay: 0.5s;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: both;
  position: absolute;
  font-size: 3rem;
  top: 3rem;
  left: 3rem;
}

@keyframes inflate {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}
.resetti--response-box {
  /* scale: 0; */
  animation-delay: 1s;
  animation-name: inflate;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  position: relative;
  width: min-content;
  margin-left: auto;
  margin-top: calc(var(--box-size) * -0.23);
}

.resetti--response-bubble {
  margin-bottom: calc(var(--box-size) / -7);
  width: calc(var(--box-size) / 1.8);
  height: calc(var(--box-size) / 4);
  background-color: #fafb9d;
  border-radius: 50%;
}

.resetti--response-box .resetti--response-bubble:nth-child(2) {
  margin-left: 10px;
}

.resetti--response-text {
  width: max-content;
  height: max-content;
  position: absolute;
  inset: 0;
  margin: auto;
}

.resetti--response-text button {
  cursor: pointer;
  appearance: none;
  border: none;
  background-color: #00000000;
  font-family: inherit;
  color: #685b09;
  font-size: 1.2rem;
  opacity: 0.5;
  position: relative;
}

.resetti--response-text button:hover {
  opacity: 1;
}

.resetti--response-text button::before {
  content: '';
  background-color: #25cacf;
  width: 1.5rem;
  height: 0.7rem;
  position: absolute;
  left: -1.5rem;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  clip-path: polygon(50% 0, 100% 50%, 50% 100%);
  display: none;
}

.resetti--response-text button:hover::before {
  display: inline-block;
}

.win-screen {
  max-height: 100vh;
  overflow: hidden;
  /* display: flex;
  align-items: flex-end;
  justify-content: center; */
}

.win-container {
  width: 300px;
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: flex-end;
  justify-content: center;
  grid-template-columns: repeat(3, 100px);
}

.win-grid {
  display: grid;
  grid-template-columns: repeat(3, 100px);
}

@keyframes flag-emerge {
  from {
    translate: 60vw 0;
  }

  to {
    translate: 0;
  }
}

.full-flag {
  animation-name: flag-emerge;
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 2 / 3;
}

@keyframes flag-descent {
  from {
    translate: -50% 0;
  }

  to {
    translate: -50% 63vh;
  }
}

.flag {
  position: absolute;
  top: 45px;
  transform-origin: right;
  translate: -50%;
  animation-name: flag-descent;
  animation-fill-mode: both;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-timing-function: linear;
  width: 100px;
  z-index: 1;
}

.flag img {
  width: 100%;
}

.pole {
  background-color: #84d103;
  width: 10px;
  height: 80vh;
}

.pole-ball {
  background-color: #008e19;
  background: radial-gradient(#38b850, #008e19);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-bottom: -2px;
  z-index: 1;
}

.block {
  box-sizing: border-box;
  width: 85px;
  height: 85px;
  border-style: outset;
  border-width: 20px;
  border-color: #c26d18;
  background-color: #9a4d00;
}

@keyframes congrats {
  from {
    scale: 0;
  letter-spacing: -2rem;
  filter:blur(5px);
  }

  to {
    filter: blur(0);
    scale: 1;
    letter-spacing: 0.1rem;
  }
}

@keyframes congrats-text {
  0% {
    text-shadow: 1px 1px 10px rgb(249, 49, 83);
    
  }

  50% {
    text-shadow: 1px 1px 10px rgb(249, 49, 83), 2px 2px 10px rgb(249, 49, 206)

  }

  100% {
    transform: rotateX(20deg);
    text-shadow: 1px 1px 10px rgb(249, 49, 83), 2px 2px 10px rgb(249, 49, 206), 2x 2px 20px rgb(183, 0, 255) ;
  }
}

.congrats-container {
  position: absolute;
  width: max-content;
  height: min-content;
  display: block;
  inset: 0;
  margin: auto;
  animation-fill-mode: both;
  animation-delay: 2s;
  animation-name: congrats;
  animation-duration: 1s;
}
.congrats {
  animation-name: congrats-text;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  font-family: 'M PLUS Rounded 1c';
  font-size: calc(2rem + 2vw);
  text-shadow: 1px 1px 10px rgb(249, 49, 83), 2px 2px 10px rgb(249, 49, 206);
  font-weight: 900;
}

@keyframes mushroom {
  from {
    translate: -55vw 0;
  }
  to {
    translate: 0;
  }
}

.win--play-again-button {
  animation-fill-mode: both;
  animation-name: mushroom;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-timing-function: linear;
  background-color: #00000000;
  appearance: none;
  border: none;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  grid-template-columns: 1 / 2;
  position: relative;
  box-shadow: 3px 3px 8px solid black;
  transition: 0.3s;
  cursor: pointer;
}

.win--play-again-button:hover {
  scale: 1.2;
}

.win--play-again-button:active {
  scale: 1;
}

.win--play-again-button img {
  width: 100%;
}

.play-again-text {
  margin: 0;
  padding: 0;
  line-height: 100%;
  color: rgb(0, 48, 0);
  font-size: 1.1rem;
  width: min-content;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  position: absolute;
  inset: 0;
  margin: auto;
  margin-top: 15%;
  font-weight: 900;
}

@media only screen and (max-width: 500px) {


.false-nav {
  width: 100%;
  height: 1rem;
}

.false-nav--item {
  font-size: 0.9rem;
  gap: 0.1rem
}

.dots {
  margin-left: 0.1rem;
  gap: 0.2rem;
  padding-top: 0.4rem;
}

.dot {
  width: 0.2rem;
  height: 0.2rem;
}

.false-nav--button {
  font-size: 1.2rem;
}

.false-nav--button:before {

  height: 2.5rem;
  width: 2.5rem;
}

.false-nav--button.A:before {
  background: radial-gradient(rgba(0, 128, 0, 0.766), rgba(0, 128, 0, 0) 70%);
}

.false-nav--button.B:before {
  background: radial-gradient(rgba(198, 3, 3, 0.766), rgba(0, 128, 0, 0) 70%);
}

  
}